BasedOnStyle: LLVM

# Indentation
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120

PointerAlignment: Left
IndentAccessModifiers: true
IndentCaseLabels: true

SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1

# Include sorting
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

Cpp11BracedListStyle: true

# Alignment
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  AlignFunctionDeclarations: true

AlignConsecutiveDeclarations:
  Enabled: true
  AlignFunctionDeclarations: true

BinPackParameters: OnePerLine
PackConstructorInitializers: BinPack

BreakTemplateDeclarations: Yes
BreakBeforeTemplateCloser: false

AccessModifierOffset: 1
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All

BreakAfterOpenBracketFunction: false
BreakAfterOpenBracketBracedList: false
BreakBeforeCloseBracketFunction: false
BreakBeforeBraces: Attach

# Line break penalties
PenaltyBreakTemplateDeclaration: 1000
